@import "./src/styles/_gradients.scss";
@import "./src/styles/_colors.scss";
@import "./src/styles/_sizes.scss";
@import "./src/styles/_typography.scss";

.item-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: theme-fonts('text'), monospace;
  font-weight: theme-font-weights('text');
  font-size: theme-font-sizes('text');
  color: theme-color('text');
}

.item-text {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  font-family: theme-fonts('text'), monospace;
  font-weight: theme-font-weights('h4');
  font-size: theme-font-sizes('h4');
  color: theme-color('text');
  text-align: center;
  cursor: default;
  margin: 0;
}

.family-members-list {
  margin: 0;
}
