@import "./src/styles/_gradients.scss";
@import "./src/styles/_colors.scss";
@import "./src/styles/_sizes.scss";
@import "./src/styles/_typography.scss";

.ingredient-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  column-gap: theme-sizes('small-column-gap');
  font-family: theme-fonts('text'), monospace;
  font-weight: theme-font-weights('text');
  font-size: theme-font-sizes('text');
  color: theme-color('text');
}

.num-input {
  max-width: 30px;
}
