@import "./src/styles/_colors.scss";
@import "./src/styles/_sizes.scss";
@import "../../styles/_typography.scss";
@import "../../styles/_gradients.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  height: theme-sizes('input-height');
  background-color: theme-color('accent');
  box-shadow: theme-shadows('button');

  font-family: theme-fonts('button'), monospace;
  font-weight: theme-font-weights('button');
  font-size: theme-font-sizes('button');
  text-transform: uppercase;
  color: theme-color('text');
  text-align: center;

  &.accent {
    background-color: theme-color('accent');

    &:hover {
      cursor: pointer;
      background-color: theme-color('accent-shadow');
    }
  }

  &.red {
    background-color: theme-color('info-error');

    &:hover {
      cursor: pointer;
      background-color: theme-color('info-error-shadow');
    }
  }

  &.small {
    width: 160px;
    height: 30px;
    font-size: theme-font-sizes('h5');
  }

  &.disabled {
    background-color: theme-color('accent-shadow');
  }

  &.round {
    width: 30px;
    border-radius: 30px;
    border: theme-color('primary') solid 2px;
    box-shadow: 2px 2px 2px #9ea3b5,
    -2px -2px 2px #ffffff;
  }

  &.opposite {
    background-color: theme-color('opposite');

    &:hover {
      cursor: pointer;
      background-color: theme-color('opposite-shadow');
    }

    &.round {
      min-width: 30px;
      border-radius: 30px;
      box-shadow: 2px 2px 2px #9ea3b5,
      -2px -2px 2px #ffffff;
    }
  }

  &:active {
    box-shadow: theme-shadows('button')
  }
}

