@import "./src/styles/_colors.scss";
@import "./src/styles/_sizes.scss";
@import "../../styles/_typography.scss";
@import "../../styles/_gradients.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  height: theme-sizes('input-height');
  background-color: theme-color('light-blue');
  border-color: theme-color('primary');
  border-width: theme-sizes('border-width');
  box-shadow: theme-shadows('button');

  font-family: theme-fonts('button'), monospace;
  font-weight: theme-font-weights('button');
  font-size: theme-font-sizes('h1');
  text-transform: uppercase;
  color: theme-color('primary');
  text-align: center;

  &.accent {
    background-color: theme-color('accent');
    color: theme-color('accent-shadow');
    border-color: theme-color('accent-shadow');

    &:hover {
      cursor: pointer;
      background-color: theme-color('accent-shadow');
    }
  }

  &.disabled {
    background-color: theme-color('accent-shadow');
  }

  &.opposite {
    background-color: theme-color('opposite');

    &:hover {
      cursor: pointer;
      background-color: theme-color('opposite-shadow');
    }
  }

  &:active {
    box-shadow: theme-shadows('button')
  }
}

