$color-base-purple: #4633C9;
$color-base-green: #94D3AE;
$color-shadow-green: #40AD6D;
$color-base-light-pink: #FFE7EF;
$color-base-pink: #DF5CBE;
$color-base-gray: #DDDDDD;
$color-gray: #808080;

$color-base-border: #151441;
$color-base-link: #2548FF;

$color-info-error: #FC4444;
$color-info-warning: #FFBF83;
$color-info-shadow-warning: #DC9452;
$color-info-success: #8ECB78;

$theme-colors: (
        primary: $color-base-purple,

        secondary: $color-base-pink,

        accent: $color-base-green,
        accent-shadow: $color-shadow-green,

        opposite: $color-info-warning,
        opposite-shadow: $color-info-shadow-warning,

        paper: $color-base-gray,
        shadow-gray: $color-gray,
        border: $color-base-border,
        text: $color-base-border,
        link: $color-base-link,
        info-error: $color-info-error,
        info-warning: $color-info-warning,
        info-success: $color-info-success,
);

@function theme-color($key) {
  @return map-get($theme-colors, $key);
}
