@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

//Title
$base-title-font-family: 'Space Mono', monospace;
$base-title-font-inscription: monospace;
$base-title-weight: 700;
$base-title-size: 48px;

//Text
$base-font-family: 'Source Code Pro', monospace;
$base-font-inscriptions: monospace;
$base-input-font-weight: 500;
$base-font-weight: 700;
$base-font-size: 20px;

//Typography
$h1-font-size: 32px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 16px;
$h5-font-size: 12px;
$h4-font-weight: 500;
$h5-font-weight: 300;

//Button
$base-button-font-family: 'Space Mono', monospace;
$base-button-font-size: 24px;
$base-button-font-weight: 700;

$base-fonts: (
        title: $base-title-font-family,
        input: $base-font-family,
        text: $base-font-family,
        button: $base-button-font-family,
);

$base-fonts-inscriptions: (
        title: $base-title-font-inscription,
        input: $base-font-inscriptions,
        text: $base-font-inscriptions,
        button: $base-font-inscriptions,
);

$base-font-weights: (
        title: $base-title-weight,
        input: $base-input-font-weight,
        text: $base-font-weight,
        button: $base-button-font-weight,
        h4: $h4-font-weight,
        h5: $h5-font-weight,
);

$base-font-sizes: (
        title: $base-title-size,
        input: $base-font-size,
        text: $base-font-size,
        h1: $h1-font-size,
        h2: $h3-font-size,
        h3: $h3-font-size,
        h4: $h4-font-size,
        h5: $h5-font-size,
        button: $base-button-font-size
);

@function theme-fonts($key) {
  @return map-get($base-fonts, $key);
}

@function theme-fonts-inscriptions($key) {
  @return map-get($base-fonts-inscriptions, $key);
}

@function theme-font-weights($key) {
  @return map-get($base-font-weights, $key);
}

@function theme-font-sizes($key) {
  @return map-get($base-font-sizes, $key);
}
