@import "./src/styles/_colors.scss";
@import "./src/styles/_sizes.scss";
@import "./src/styles/typography";

.pop-up-container {
  background-color: theme-color('background');
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.pop-up-content {
  flex-direction: column;
  z-index: 2;
  background-color: theme-color('paper');
  border-radius: theme-sizes('border-radius');
  border-width: theme-sizes('border-width');
  border-color: theme-color('border');
  border-style: solid;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: theme-sizes('small-column-gap');
  height: 32px;
  background-color: theme-color('primary');
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
  border-bottom-width: theme-sizes('borders-width');
  border-bottom-color: theme-color('border');
  border-bottom-style: solid;
  padding: 0 theme-sizes('small-paper-padding');
}

@mixin base-control($type) {
  background-color: theme-color('info-#{$type}');
  height: theme-sizes('controls-diameter');
  width: theme-sizes('controls-diameter');
  border-radius: theme-sizes('border-radius');
  border-width: theme-sizes('controls-borders-width');
  border-color: theme-color('border');
  border-style: solid;
}

.control-close{
  @include base-control("error");
}
.control-hide{
  @include base-control("warning");
}
.control-accept{
  @include base-control("success");
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: theme-sizes('small-paper-padding');
  row-gap: theme-sizes('small-column-gap');
}

.children-container{
  padding: 0 theme-sizes('base-paper-padding');
  justify-items: flex-start;
}
