@import "./src/styles/_gradients.scss";
@import "./src/styles/_colors.scss";
@import "./src/styles/_sizes.scss";
@import "./src/styles/_typography.scss";

.meal {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  width: 60vw;
  height: 100%;
  border-width: theme-sizes('border-width');
  border-style: solid;
  border-radius: 20px;
  margin: 8px 0;

  &.accent {
    background: theme-color('accent-light');
    border-color: theme-color('accent-shadow');
  }

  &.primary {
    background: theme-color('light-blue');
    border-color: theme-color('primary');
  }

  &.secondary {
    background: theme-color('light-pink');
    border-color: theme-color('secondary');
  }

  &.opposite {
    background: theme-color('opposite-light');
    border-color: theme-color('opposite-shadow');
  }
}

.mealTitle {
  font-family: theme-fonts('button'), monospace;
  font-weight: theme-font-weights('button');
  font-size: theme-font-sizes('button');
  text-transform: uppercase;
  color: theme-color('text');
  text-align: center;
}

.mealBar {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 20px;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: theme-sizes('border-width');
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  &.accent {
    background: theme-color('accent');
    border-color: theme-color('accent-shadow');
  }

  &.primary {
    background: theme-color('primary-light');
    border-color: theme-color('primary');
  }

  &.secondary {
    background: theme-color('light-pink');
    border-color: theme-color('secondary');
  }

  &.opposite {
    background: theme-color('opposite-light');
    border-color: theme-color('opposite-shadow');
  }

  &.closed {
    border: none;
    border-radius: 20px;
  }
}


.meal-title {
  text-align: left;
}

.meal-content {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
}


.ingredients {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.meal-image {
  height: 160px;
  width: auto;
  align-self: center;
  padding: 8px;
  border: 4px solid transparent;
  box-shadow: 0 0 0 2px theme-color('accent-shadow'),
  inset 0 0 0 4px white;

  &.accent {
    box-shadow: 0 0 0 2px theme-color('accent-shadow'),
    inset 0 0 0 4px white;
  }

  &.primary {
    box-shadow: 0 0 0 2px theme-color('primary'),
    inset 0 0 0 4px white;
  }

  &.secondary {
    box-shadow: 0 0 0 2px theme-color('secondary'),
    inset 0 0 0 4px white;
  }

  &.opposite {
    box-shadow: 0 0 0 2px theme-color('opposite-shadow'),
    inset 0 0 0 4px white;
  }
}
