@import "./src/styles/_colors.scss";
@import "./src/styles/_sizes.scss";
@import "./src/styles/typography";

h1 {
  font-family: theme-fonts('title'), monospace;
  font-weight: theme-font-weights('title');
  font-size: theme-font-sizes('title');
  text-transform: uppercase;
  color: theme-color('text');
  text-align: center;
  margin: 0 4px;
}

h3 {
  font-family: theme-fonts('text'), monospace;
  font-weight: theme-font-weights('text');
  font-size: theme-font-sizes('text');
  color: theme-color('text');
  text-align: center;
  cursor: default;
  margin: 0;
}

h3 {
  font-family: theme-fonts('text'), monospace;
  font-weight: theme-font-weights('text');
  font-size: theme-font-sizes('text');
  color: theme-color('text');
  text-align: center;
  cursor: default;
  margin: 0;
}

h4 {
  font-family: theme-fonts('text'), monospace;
  font-weight: theme-font-weights('h4');
  font-size: theme-font-sizes('h4');
  color: theme-color('text');
  text-align: center;
  cursor: default;
  margin: 0;
}

a {
  color: theme-color('link');
  text-decoration: underline;
  cursor: pointer;
}

.small-icon {
  object-fit: contain;
  max-height: theme-sizes('small-icon-height');
  max-width: theme-sizes('small-icon-height');
  cursor: pointer;
}

span {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}
