@import "./src/styles/_colors.scss";
@import "./src/styles/_sizes.scss";
@import "../../styles/_typography.scss";
@import "../../styles/_gradients.scss";

.search-container {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  min-height: 60px;
}

.select {
  position: absolute;
  z-index: 5;
  max-height: 20vh;
  width: 90%;
  overflow-y: auto;
  background-color: theme-color('light-blue');
  margin: -16px theme-sizes('small-paper-padding') 0 theme-sizes('small-paper-padding');
  padding: 4px 0;
}

.select-item {
  height: 20px;
  margin: 2px;
  &:hover {
    background-color:yellow;
    cursor: pointer;
  }
}
